<!DOCTYPE html>
<html>
<head>
    <title>Loan Approval Predictor</title>
</head>
<body>

<h2>Loan Approval Prediction</h2>

<form method="POST">
    <label>Gender:</label>
    <input type="text" name="Gender"><br><br>

    <label>Married:</label>
    <input type="text" name="Married"><br><br>

    <label>Applicant Income:</label>
    <input type="number" name="ApplicantIncome"><br><br>

    <button type="submit">Predict</button>
</form>

{% if prediction %}
<h3>{{ prediction }}</h3>
{% endif %}

</body>
</html>